/*  your css code here. If applicable */
#red{
	background: red;
	border: 3px solid black;
} 
#yellow{
	background: yellow;
	border: 3px solid green;
} 
#green{
	background: green;
	border: 3px solid yellow;
}